[Unit]
Description=Hyprland compositor session
Documentation=man:systemd.special(7)
BindsTo=graphical-session.target
Before=graphical-session.target
RefuseManualStart=no
StopWhenUnneeded=yes
